body {
  background: linear-gradient(135deg, #ff91a4, #f9d6e3);
  font-family: "Helvetica", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 36px;

  font-family: "Helvetica", cursive;
  margin-bottom: 30px;
  font-weight: bolder;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
}
select:hover {
  background-color: #feb47b;
  color: #fff;
  cursor: pointer;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.city {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.city:hover {
  background: #fb99ba;
  color: white;
  transition: all 0.3s ease;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  font-size: 16px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 56px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

footer a:hover {
  color: #f88094;
}
